# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Component Preview
previewConfig.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage/src/utils/ApiFetch.ts.html
/coverage/src/context/AuthContext.ts.html
/coverage/src/components/authentication/AuthProvider.tsx.html
/coverage/base.css
/coverage/block-navigation.js
/coverage/src/pages/student/CoursesViewStudent.tsx.html
/coverage/src/pages/teacher/CoursesViewTeacher.tsx.html
/coverage/src/pages/teacher/CreateCourse.tsx.html
/coverage/src/pages/teacher/CreateProject.tsx.html
/coverage/src/pages/student/DeadlineTable.tsx.html
/coverage/src/components/DefaultErrorPage.tsx.html
/coverage/src/pages/error.tsx.html
/coverage/src/components/authentication/ErrorLogin.tsx.html
/coverage/favicon.png
/coverage/src/components/FieldWithLabel.tsx.html
/coverage/src/components/Header.tsx.html
/coverage/src/pages/admin/HomeAdmin.tsx.html
/coverage/src/pages/student/HomeStudent.tsx.html
/coverage/src/pages/teacher/HomeTeacher.tsx.html
/coverage/src/components/authentication/index.html
/coverage/src/components/index.html
/coverage/src/context/index.html
/coverage/src/dataloaders/index.html
/coverage/src/hooks/index.html
/coverage/src/pages/admin/index.html
/coverage/src/pages/login/index.html
/coverage/src/pages/student/index.html
/coverage/src/pages/teacher/index.html
/coverage/src/pages/index.html
/coverage/src/types/index.html
/coverage/src/utils/index.html
/coverage/src/index.html
/coverage/index.html
/coverage/src/components/Inputfield.tsx.html
/coverage/src/components/authentication/LoginForm.tsx.html
/coverage/src/dataloaders/LoginLoader.ts.html
/coverage/src/pages/login/LoginScreen.tsx.html
/coverage/src/main.tsx.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/src/types/project.ts.html
/coverage/src/pages/student/ProjectCardStudent.tsx.html
/coverage/src/pages/student/ProjectsViewStudent.tsx.html
/coverage/src/pages/teacher/ProjectsViewTeacher.tsx.html
/coverage/src/pages/student/ProjectViewStudent.tsx.html
/coverage/src/pages/teacher/ProjectViewTeacher.tsx.html
/coverage/src/components/RegularATag.tsx.html
/coverage/src/components/RegularButton.tsx.html
/coverage/src/components/authentication/RequireAuth.tsx.html
/coverage/src/pages/root.tsx.html
/coverage/src/components/SearchBar.tsx.html
/coverage/src/components/SelectionBox.tsx.html
/coverage/src/components/Settings.tsx.html
/coverage/src/dataloaders/SharedFunctions.ts.html
/coverage/src/components/Sidebar.tsx.html
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/src/components/Statistics.tsx.html
/coverage/src/dataloaders/StudentLoader.ts.html
/coverage/src/dataloaders/CoursesTeacherLoader.ts.html
/coverage/src/components/Table.tsx.html
/coverage/src/dataloaders/TeacherLoader.ts.html
/coverage/src/components/authentication/Unauthorized.tsx.html
/coverage/src/hooks/useAuth.ts.html
/coverage/src/components/ViewProjectStudentComponent.tsx.html
/coverage/src/components/ViewProjectTeacherComponent.tsx.html
