
.information-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: hidden;
    border-radius: 50%;
    background-color: rgb(183, 188, 255);
    color: white;
    font-weight: 600
}
.information-close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 1px 5px;
    padding-bottom: 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.information-header {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    max-height: 400px;
    overflow-y: auto;
}
