.main-content {
    display: flex;
    flex-direction: row;
}

.side-bar {
    display: flex;
    justify-content: center;
}

/* ========================================== */

.admin-main {
    width: calc(100vw - var(--sidebar-width));
    display: flex;
    justify-content: center;

    /* background-color: bisque; */
}

.rights-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    .rights-block + .rights-block {
        margin-top: 50px;
    }

    .rights-block {
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border: solid;
    
        /* background-color: hotpink; */

        .explanation {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* background-color: blueviolet; */
        }
        

        /* SearchBar */

        .person-list {
            padding-left: 10px;
            padding-right: 10px;
            height: 100px;
            width: 400px;
            overflow-y: auto;
            border: solid;
            border-width: thin;

            /* background-color: lightgreen; */

            .person {
                display: grid;
                grid-template-columns: 1fr min-content;
                align-items: center;
                padding: 2px;

                /* background-color: antiquewhite; */

                .name {
                    grid-row: 1;
                    grid-column: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 280px;

                    /* background-color: lightcoral; */
                }

                .operations {
                    grid-row: 1;
                    grid-column: 2;
                    display: flex;
                    flex-direction: row;

                    .button + .button {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}


