:root {
    --sidebar-width: 8vh;
    --primary-dark: #6a74ce;
    --primary-light: #9c9afd;
}

.main-header {
    width: 100vw;
    height: 8vh;
    background-color: var(--primary-light);
    overflow: hidden;
}

.main-nav {
    height: 100%;
}

.logo-div {
    background-color: #3f63c8;
    height: 100%;
    width: var(--sidebar-width);

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.main-content {
    width: 100vw;
    height: calc(100vh - var(--sidebar-width));
}

.side-bar {
    width: var(--sidebar-width);
    background-color: var(--primary-dark);

    li {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        transform: scale(1.5);
    }
}

.icon {
    height: 50%;
}