.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: bisque;
}

/* ====================================== */

.content {
    width: 800px;
    height: 500px;

    background-color: antiquewhite;

    .type {
        .field {

            .thick {
                font-weight: bolder;
            }
    
            .thin {
                font-weight: lighter;
            }

            .divider {
                margin-left: 3px;
                margin-right: 3px;
            }
        
        }
    }
    
    .constraint_object {
        align-items: center;
        .name {
            width: min-content;
        }
        .add {
            margin-left: 10px;
            /* border: solid;
            border-width: 1px; */
        }
    }

}

/* =============================================== */

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.hover-encircle:hover {
    border-radius: 10px;
    border: solid;
    border-width: 1px;
}

.hover-shadow:hover {
    background-color: rgb(232, 232, 232);
}

.hidden {
    color: transparent;
}

.dir-color {
    text-shadow: 2px 2px 4px rgba(236, 24, 255, 0.5);
}