.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: bisque;
}

.content {
    width: 800px;
    height: 500px;

    background-color: antiquewhite;
    
    .divider {
        margin-left: 3px;
        margin-right: 3px;
    }

    .thick {
        font-weight: bolder;
    }

    .thin {
        font-weight: lighter;
    }

}


