.popup {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* to get over bulma's cards index */
}

.dropdown-content {
    width: fit-content;
}