.student-main {
    width: calc(100vw - var(--sidebar-width));
    overflow-y: auto;

    .leave-course {
        width: 100%;
    }
}

.student-left {
    width: 60vw;
    flex-wrap: wrap;
}

.project-card {
    background-color: var(--primary-light) !important;
    width: 25vw;
    height: 25vh;
}

.card-text {
    width: 80%;
}

.p-negative {
    color: red;
}

.p-positive {
    color: green;
}

.student-right {
    width: 36vw;
}

.deadline {
    background-color: #e0e3ff;
    width: 15vw;
    height: 75vh;
    border-radius: 0.50rem;
}

.deadline-head {
    background-color: var(--primary-dark);
    border-radius: 0.50rem 0.50rem 0 0;
    color: var(--primary-light-text);
    font-size: 20px;
}

.deadline-elements {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 0 0.50rem 0.50rem;
    color: var(--primary-dark-text);
}

.deadline-card {
    background-color: var(--primary-light);
    border-bottom: thin solid;
}

.join-course {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submission-file-download {
    display: flex;
    flex-direction: row;
    width: min-content;
}

.submission-file-download-upload {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 10px;
}

.fixated {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

.fixated-filler {
    height: 60px;
    background-color: white;
}

.file-chooser-first {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.file-chooser-second {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}