.title-lines {
    position: relative;
    font-size: 25px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.title-lines:before, .title-lines:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 48%;
    height: 1px;
    content: '\a0';
    background-color: #cccccc;
    margin-left: 2%;
}

.title-lines:before {
    margin-left: -50%;
    text-align: right;
}

.table-page {
    width: 95%;
}

.search-field {
    width: 35%;
}

th, td {
    text-align: center;
}

